    .login {
        padding-left : 10px;
        padding-top : 10px;
    }

    html, body {
        height : 100%;
        box-sizing: border-box;
        font-family: 'Nanum Brush Script', cursive;
        font-family: 'Shadows Into Light', cursive;

    }
    h1 {
        margin : 15px 0 0 15px;
    }
    .logoFont, .loginText {
        font-size : 2em;
    }
    hr {
        margin : 8px 0;
    }

    section {
        width :500px;
        height : 500px;
        position : relative;
        top : 50%;
        left : 50%; 
        transform: translate(-50%, -50%);
        
    }

    .loginBox {
        color : #666666;
        width : 400px;
        height : 180px;
        border : thin solid #666666;
        box-shadow: 5px 5px 5px darkgray;
        border-radius : 1px;
        padding : 20px 25px;
    }

    #txtLogin { 
        font-size : 0.7em;
        margin : 13px 0;
    }

    .form {
        display : flex;
        width :100%;
    }
    .wrapInput {
        width : 80%;
    }
    input[type=text], input[type=password] {
        height : 24px;
        width : 90%;
    }

    #loginButton {
        width : 20%;
        font-weight : bold;
        border-style : none;
        background-color :#19CE60;
        color :white;
        border-radius : 4px;
    }

    #textUserID {
        margin-bottom : 10px;    
    }

    .chk {
        margin-top : 29px;
    }

